.menu-bg {
    background: #FFC436;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #222222;
}

span {
    border: 1px solid white; /* Espessura, estilo e cor da borda */
    padding: 5px;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0px 10px;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 0 10px;
    transition: .3s ease;
}

.menu-nav a:hover {
    color: white;
}